%h3 What do you want to talk about?

= simple_form_for @form, html: {class: 'thing__form'} do |f|
  = f.input :name, placeholder: "Name", label: false, readonly: @form.readonly?(:name), input_html: {class: 'thing__form--name'}
  = f.input :description, placeholder: "Description", label: false

  = f.button :submit, class: :expand

= @form.errors.messages
